<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!--应用程序配置-->
  <appSettings >
    <add key="Version" value="v1.0.0.1"/>
    <!--注意此处我只是再拿数据库链接字符串举一个例子，
    我们通常会数据库连接字符串写在专有的<connectionStrings></connectionStrings>-->
    <add key="server" value ="."/>
    <add key="database" value ="db_Test"/>
    <add key="uid" value ="shanzm"/>
    <add key="pwd" value ="123456"/>
    <!--注意在项目中我们是这样使用的
    string Version = ConfigurationManager.AppSettings["Version"]-->
  </appSettings>
</configuration>




